.body {
    font-family: Golos UI, sans-serif;
    src: url(./fonts/Golos-UI_Bold.ttf);
}

.clear-border-in-body {
    height: 100vh;      
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.sidebar-field {
    display: flex;
    flex-direction: column;
    width: 72px;
    height: 1080px;    
    left: -1px;
    border-right: 1px solid #2222220D;
}

.navigation {
    margin-top: 10px;
    margin-left: 15px;
    height: 40px;
    width: 40px;
    top: 152px;
    left: 16px;
    gap: 10px;
    border-radius: 10px;
}
.Smart-button {
    height: 40px;
    width: 40px;
}

.column-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header-field {
    display: flex;
    width: 100%;      
    height: 73px;
}

.user {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
    padding: 0 16px;
    box-sizing: border-box;
}

.avatar-name-field {
    display: flex;
    flex-direction: column;           
    align-items: center;
    gap: 12px;
    width: auto;
    box-sizing: border-box;
}

.avatar-block {
    width: 123px;
    height: 123px;
    top: 97px;
    left: 658px;
    gap: 8px;
    border-radius: 16px;
    object-fit: cover;
    display: block;
}

.user-name-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    max-width: 720px;
    text-align: center;
    padding: 0 8px;
    font: 500 32px/32px Golos UI, sans-serif;
    font-style: Medium;
    letter-spacing: -1px;
    text-align: center;
    vertical-align: middle;
}


.user-description {
    max-width: 400px;
    font: 400 15px/18px Golos UI, sans-serif;
    letter-spacing: -1px;
    text-align: center;
    margin: 0 16px;
}

.photo-number-field {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 30px;
    top: 330px;
    left: 669px;
    border-radius: 6px;
    gap: 6px;
    padding: 6px 10px 6px 10px;
    background-color: #F2F3F5;
}

.photo-number-block {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.photo-number {
    width: 59px;
    height: 18px;
}

.photo-number-text {
    font: 400 15px/18px Golos UI, sans-serif;
    letter-spacing: -1px;
    vertical-align: middle;
}

.photo-field { 
    width: 972px;
    height: 1622px;
    margin: 0 auto; 
    margin-top: 42px; 
    position: relative; 
    box-sizing: border-box;
    left: 0;                 
    right: 0;
}

.photo-set {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

